
.app-preview {
    position: fixed;
    inset: 20%;
    overflow: auto;
    background-color: #161A42;
    color: #DADBE2;
    border: solid 4px #45496D;
}

    .app-preview *:first-child {
        position: fixed;
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin-top: -20px;
        cursor: pointer;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
        color: white;
        background-color: red;
        border-radius: 50%;
    }

    .app-preview .powerapp-component {
        position: relative;
        overflow: hidden;
        border: solid 1px rgba(44,0,255,100);
        white-space: nowrap;
    }

        .app-preview .powerapp-component:hover {
            overflow: auto;
        }
